.navbar {
    position: fixed;
    height: 5rem;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s;
}

.scrolled {
    background: rgba(190, 190, 190, 0.151);
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 14px;
}